<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/media.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="shortcut icon" href="/img/favicon.png">
  <script src="/ckeditor/ckeditor.js" charset="utf-8"></script>
  <title>RecipeHub</title>
</head>

<body>

  <header>

    <nav class="navbar navbar-expand-md navbar-solid">
      <a class="navbar-brand" href="/"><img class="img-fluid" src="/img/logos.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-bars fa-fw fa-lg"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item home-link">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/show-recipes/1">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <% if (!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign in</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <form action="/login" method="post" style="width: 300px">
                  <div class="form-group dropdown-item">
                    <label for="username">User name:</label>
                    <input id="username" class="form-control" type="text" name="username" placeholder="Username" required>
                  </div>
                  <div class="form-group dropdown-item">
                    <label for="password">Password:</label>
                    <input id="password" class="form-control" type="password" name="password" placeholder="Password" required>
                  </div>
                  <div class="form-group dropdown-item">
                    <button class="btn btn-green" type="submit">Login</button>
                  </div>
                </form>
            </div>
          </li>
          <%} else {%>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- <div class="user-pic" style="background-image: url('<%=currentUser.profilePic%>'); display: inline-block"></div> -->
                <img class="user-photo" src="<%=currentUser.profilePic%>" alt="">
                <p style="display: inline"><%=currentUser.username%></p>
              </a>
              <div class="dropdown-menu user-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/users/<%=currentUser._id%>">Profile</a>
                <a class="dropdown-item" href="/users/<%=currentUser.id%>/edit">Edit profile</a>
                <a class="dropdown-item" href="/logout">Sign out</a>
              </div>
            </li>

          <%}%>
        </ul>
      </div>
    </nav>


  </header>


  <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <p>
        <%=error%>
      </p> <span class="close" onclick="closeAlert()">&times;</span>
    </div>
    <% } %>

      <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
          <p>
            <%=success%>
          </p>
          <span class="close" onclick="closeAlert()">&times;</span>
        </div>
        <% } %>
